<nav class="nav navbar-expand-lg navbar-dark bg-dark p-3 justify-content-between"  xmlns:th="http://www.thymeleaf.org">
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ms-3" th:if="${user.isAdmin().isAirdrome().CheckContains()}">
                <a class="nav-link" th:href="@{/country}">Страны</a>
            </li>
            <li class="nav-item ms-3" th:if="${user.isAdmin().isAirdrome().CheckContains()}">
                <a class="nav-link" th:href="@{/city}">Города</a>
            </li>
            <li class="nav-item ms-3" th:if="${user.isAdmin().isAirdrome().CheckContains()}">
                <a class="nav-link" th:href="@{/airplane}">Самолёты</a>
            </li>
            <li class="nav-item ms-3" th:if="${user.isAdmin().isPersonnel().CheckContains()}">
                <a class="nav-link" th:href="@{/employee}">Сотрудники</a>
            </li>
            <li class="nav-item ms-3" th:if="${user.isAdmin().isCashier().isBooking().CheckContains()}">
                <a class="nav-link" th:href="@{/client}">Клиенты</a>
            </li>
            <li class="nav-item ms-3" th:if="${user.isAdmin().isAirdrome().CheckContains()}">
                <a class="nav-link" th:href="@{/voyage}">Рейсы</a>
            </li>
            <li class="nav-item ms-3" th:if="${user.isAdmin().isAirdrome().CheckContains()}">
                <a class="nav-link" th:href="@{/ticket}">Билеты</a>
            </li>
            <li class="nav-item ms-3" th:if="${user.isAdmin().isBooking().CheckContains()}">
                <a class="nav-link" th:href="@{/booking}">Бронирование билетов</a>
            </li>
            <li class="nav-item ms-3" th:if="${user.isAdmin().isCashier().CheckContains()}">
                <a class="nav-link" th:href="@{/sale}">Продажа билетов</a>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <a th:href="@{/logout}" class="btn btn-primary">Выйти</a>
        </div>
    </div>
</nav>