<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.css">
    <title>Клиенты</title>
</head>
<body>
<div th:insert="components/header"></div>

<div class="d-flex flex-column align-items-center justify-content-center mt-3">
    <p class="display-5 p-2">Добавление клиента</p>
    <form method="post" th:action="@{/client/add}"
          class="form col-sm-3"
          th:object="${client}">

        <div class="form-group mt-2">
            <label>Имя</label>
            <input placeholder="Имя" type="text" class="form-control mt-2" th:field="*{name}">
        </div>
        <span class="error text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

        <div class="form-group mt-2">
            <label>Фамилия</label>
            <input placeholder="Фамилия" type="text" class="form-control mt-2" th:field="*{surname}">
        </div>
        <span class="error text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>

        <div class="form-group mt-2">
            <label>Отчество</label>
            <input placeholder="Отчество" type="text" class="form-control mt-2" th:field="*{patronymic}">
        </div>
        <span class="error text-danger" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></span>

        <div class="form-group mt-2">
            <label>Номер телефона</label>
            <input placeholder="Номер телефона" type="text" class="form-control mt-2" th:field="*{phone}">
        </div>
        <span class="error text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
        <span class="error text-danger" th:if="${phoneError != null}" th:text="${phoneError}"></span>

        <div class="form-group mt-2">
            <label>Серия паспорта</label>
            <input placeholder="Серия паспорта" type="number" class="form-control mt-2" th:field="*{passportSeries}">
        </div>
        <span class="error text-danger" th:if="${#fields.hasErrors('passportSeries')}" th:errors="*{passportSeries}"></span>
        <span class="error text-danger" th:if="${passportError != null}" th:text="${passportError}"></span>

        <div class="form-group mt-2">
            <label>Номер паспорта</label>
            <input placeholder="Номер паспорта" type="number" class="form-control mt-2" th:field="*{passportNumber}">
        </div>
        <span class="error text-danger" th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}"></span>
        <span class="error text-danger" th:if="${passportError != null}" th:text="${passportError}"></span>

        <div class="form-group mt-2">
            <label>Email</label>
            <input placeholder="Email" type="email" class="form-control" th:field="*{email}"/>
        </div>
        <span class="error text-danger" th:if="${message != null}" th:text="${message}"></span>
        <span class="error text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

        <div class="form-group mt-2">
            <label>Пароль</label>
            <input placeholder="Пароль" type="text" class="form-control" th:field="*{password}"/>
        </div>
        <span class="error text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <span class="error text-danger" th:if="${passwordError != null}" th:text="${passwordError}"></span>

        <div class="form-group mt-2">
            <input type="submit" value="Добавить" class="btn btn-success mt-2">
        </div>

    </form>
</div>

</body>
</html>