<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.css">
    <title>Title</title>
</head>
<body>
<div th:insert="components/header"></div>

<div class="d-flex flex-column align-items-center justify-content-center mt-3">
    <p class="display-5 p-2">Редактирование самолёта</p>
    <form method="post" th:action="@{/airplane/edit}"
          class="form col-sm-3"
          th:object="${airplane}">
        <input type="hidden" th:value="${airplane.id}" th:field="*{id}">
        <div class="form-group mt-2">
            <label>Модель самолёта</label>
            <input placeholder="Модель" type="text" class="form-control" th:field="*{model}"/>
        </div>
        <span class="error text-danger" th:if="${message != null}" th:text="${message}"></span>
        <span class="error text-danger" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></span>

        <div class="form-group mt-2">
            <label>Количество мест в эконом классе</label>
            <input type="number" class="form-control mt-2" th:field="*{economicClassClientsCount}">
        </div>
        <span class="error text-danger" th:if="${#fields.hasErrors('economicClassClientsCount')}"
              th:errors="*{economicClassClientsCount}"></span>

        <div class="form-group mt-2">
            <label>Количество мест в бизнес классе</label>
            <input type="number" class="form-control mt-2" th:field="*{businessClassClientsCount}">
        </div>
        <span class="error text-danger" th:if="${#fields.hasErrors('businessClassClientsCount')}"
              th:errors="*{businessClassClientsCount}"></span>

        <div class="form-group mt-2">
            <label>Количество мест в первом классе</label>
            <input type="number" class="form-control mt-2" th:field="*{firstClassClientsCount}">
        </div>
        <span class="error text-danger" th:if="${#fields.hasErrors('firstClassClientsCount')}"
              th:errors="*{firstClassClientsCount}"></span>

        <div class="form-group mt-2">
            <label>Тип компоновки</label>
            <select class="form-select mt-2" th:field="*{layoutType}">
                <div th:each="l : ${layoutTypes}">
                    <option th:if="${l.id == airplane.layoutType.id}" th:value="${l.id}" th:text="${l.name}" selected>
                    </option>
                    <option th:unless="${l.id == airplane.layoutType.id}" th:value="${l.id}" th:text="${l.name}">
                    </option>
                </div>
            </select>
        </div>
        <span class="error text-danger" th:if="${#fields.hasErrors('layoutType')}" th:errors="*{layoutType}"></span>

        <input type="submit" value="Сохранить" class="btn btn-primary mt-2">
    </form>
</div>
</body>
</html>