<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/static/css/sale/main.css">
    <title>Продажи</title>
</head>
<body>
<div th:insert="components/header"></div>

<search class="d-flex flex-column align-items-center mt-3">
    <p class="display-5 p-2">Список билетов</p>
    <form class="form-horizontal d-flex flex-row align-items-center justify-content-center col-sm-6">
        <div class="form-group mt-2 right">
            <label>Номер рейса</label>
            <select class="form-select mt-2" name="voyage">
                <option th:each="v : ${voyages}" th:value="${v.id}" th:text="${v.id}" th:selected="${voyage != null && voyage.id == v.id}">
                </option>
            </select>
        </div>
        <div class="form-group mt-2 right">
            <label>Тип билетов</label>
            <select class="form-select mt-2" name="listType">
                <option value="Доступные">Доступные</option>
                <option value="Купленные" th:selected="${listType == 'Купленные'}">Купленные</option>
            </select>
        </div>
        <div class="form-group mt-2 right">
            <input value="Поиск" type="submit" class="btn btn-primary search" th:formaction="@{/sale}" formmethod="get">
        </div>
        <div class="form-group mt-2">
            <a class="btn btn-primary search" th:href="@{/sale}">Очистить поиск</a>
        </div>
    </form>
</search>

<div class="d-flex flex-column align-items-center justify-content-center mt-3">
    <div class="col-sm-10">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col" class="text-center">Стоимость</th>
                <th scope="col" class="text-center">Номер рейса</th>
                <th scope="col" class="text-center">Класс места</th>
                <th scope="col" class="text-center">Место</th>
                <th scope="col" class="text-center">Город отправления</th>
                <th scope="col" class="text-center">Город прибытия</th>
                <th scope="col" class="text-center">Дата отправления</th>
                <th scope="col" class="text-center">Дата прибытия</th>
                <th scope="col" class="text-center" th:unless="${saleTable == null}">Владелец</th>
                <th scope="col" class="text-center" th:if="${saleTable == null}">Оформить покупку</th>
                <th scope="col" class="text-center" th:unless="${saleTable == null}">Оформить возврат</th>
            </tr>
            </thead>
            <tr th:each="t : ${tickets}">
                <form>
                    <input type="hidden" name="ticket" th:value="${t.id}">
                    <td scope="col" class="text-center"><span class="h3" th:text="${t.price}"></span></td>
                    <td scope="col" class="text-center"><span class="h3" th:text="${t.voyage.id}"></span></td>
                    <td scope="col" class="text-center"><span class="h3" th:text="${t.seatClass.name}"></span></td>
                    <td scope="col" class="text-center"><span class="h3" th:text="${t.seat}"></span></td>
                    <td scope="col" class="text-center"><span class="h3" th:text="${t.voyage.cityInc.name}"></span></td>
                    <td scope="col" class="text-center"><span class="h3" th:text="${t.voyage.cityOut.name}"></span></td>
                    <td scope="col" class="text-center"><span class="h3" th:text="${t.voyage.dateTimeInc}"></span></td>
                    <td scope="col" class="text-center"><span class="h3" th:text="${t.voyage.dateTimeOut}"></span></td>
                    <td scope="col"  th:unless="${saleTable == null}" class="text-center"><span class="h3" th:text="${t.sale.client.name + ' ' + t.sale.client.surname + ' ' + t.sale.client.patronymic + ' ' + t.sale.client.email}"></span></td>
                    <td scope="col" th:if="${saleTable == null}" class="text-center"><input type="submit" value="Оформить покупку" class="btn btn-success ml-2"
                                                                                               th:formaction="@{/sale/add}" formmethod="get">
                    </td>
                    <td scope="col" th:unless="${saleTable == null}" class="text-center"><input type="submit" value="Оформить возврат"
                                                                                                   th:formaction="@{/sale/delete}" formmethod="post"
                                                                                                   class="btn btn-danger ml-2"></td>
                </form>
            </tr>
        </table>
    </div>
</div>

</body>
</html>